init 1:
    find label _call_skiptut_3
    search menu "Now shoo, scaly-face." for 1001
    change option "Now shoo, scaly-face." text to "Shoo! Shoo, scaly-face!"
    change option "Shoo! Shoo, scaly-face!" target to label skipintro